<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-12 text-center pt-3">
            <h1>Здравствуйте, Ирина Ивановна. Предмет: Математика</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 justify-content-center">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">1</th>
                    <th scope="col">2</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">ФИО</th>
                    <td>Двоешников Игорь Степанович</td>
                    <td>Иванов Иван Иванович</td>
                  </tr>
                  <tr>
                    <th scope="row">15.04.30</th>
                    <td>Н</td>
                    <td>5</td>
                    <td>@fat</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>Larry</td>
                    <td>the Bird</td>
                    <td>@twitter</td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>
